<div id="dashboard">
	<% if @user.restaurants.any? %>
   	 <% if Restaurant.exists?(@user.activeRestaurant_id) %>
    		<% restaurant = Restaurant.find(@user.activeRestaurant_id) %>
			<h1 id="dashboard"><%= restaurant.name %></h1>
	 <% else %>
			<h1 id="dashboard">Tabletab Dashboard</h1>
	 <% end %>
	<% else %>
		<h1 id="dashboard">Tabletab Dashboard</h1>
	<% end %>

	<p id="dashboard">Use the Dashboard to access the management modules</p>
</div>


<ul id="dashboard">
	<li id="dashboard">
			<%= link_to 'Restaurants   ', restaurants_path , class: "btn  btn-custom" %>
	</li>
	<li id="dashboard">
			<%= link_to 'Tables   ', tables_path, class: "btn btn-custom" %>
	</li>
	<li id="dashboard">
			<%= link_to 'Menu   ', menus_path, class: "btn btn-custom" %>
	</li>
	<li id="dashboard">
			<%= link_to 'Call  waiter list   ', orders_path, class: "btn btn-custom" %>
	</li>
	
</ul>
<br><br><br><br><br><br>
<% if @user.restaurants.any? %>
		
		<p>Click here to <%= link_to "Manage RESTAURANT", restaurants_path %></p>
		
		<%= form_for @user ,  :url => update_active_restaurant_user_path(@user), :html => { :method => :post, :class =>"form-horizontal"} do |f| %>
		<!-- the collection_select method takes the parameters as described below:
			 The :user is the object for the user-table, and the :activeRestaurant_id is the item we 
			want to update in that table.
			The @user.restaurants.all will populate the combobox with the items that are related to 
			only that user. and the :id and :name are the items in the combobox. when an item is selected
			the :activeRestaurant_id will hold the selected :id.
		-->
		<%= collection_select( :user, :activeRestaurant_id , @user.restaurants.all, :id , :name) %>
	  
			  
              <%= f.submit "Submit", :id => "editButton", :class => 'btn-warning btn-primary btn-large' %>
              <br/>
       
		<% end%>

		<p>You have <%= @user.restaurants.count %> registered restaurants</p>
		<p>DEBUG active restaurant is:  <%= @user.activeRestaurant_id %> </p>
<% end %>


