<h1>Statistics</h1>

<p>This page displays a simple set of statistics from the system.</P>
<br>
<p>The current information given is the total registration of orders using QR code and NFC chip. Also there will be a total number of restaurant registered during the test and trial run, as well as max, min and average time between order request and waiters action. </p>
<p></p>
<p>Number of restaurants on the system : <%= @restaurant.count %></p>
<p>Total number of orders              : <%= @orders.count %></p>
<p>Number of orders using NFC          : <%= @orders_nfc.count %></p>
<p>Number of orders using QR code      : <%= @orders_qr.count %></p>
<p>Maximum time waited                 : <%= @order_timemax %></p>
<p>Minimum time waited                 : <%= @order_timemin %></p>
<p>Average time waited                 : <%= @order_timeavg %></p>