<%= simple_form_for(@menu) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :restaurant_id, :value => current_user.activeRestaurant_id %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this table from being saved:</h2>
        <ul>
          <% @menu.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :price %>
    <!-- %= file_field_tag 'image' % -->
    <!-- %= f.input :image_id % -->
    <!-- %= f.input :happy_hour_from % -->
    <!-- %= f.input :happy_hour_to % -->
    <!-- %= f.input :happy_hour_price % -->
    <!-- %= f.input :display_on_mobile_menu % --> <!-- The display on mobile boolean is used with the ordering module (not yet implemented)-->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
