<h1>Listing menus</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Price</th>
    <th>Image</th>
    <th>Happy hour from</th>
    <th>Happy hour to</th>
    <th>Happy hour price</th>
    <th>Restaurant</th>
    <th>Display on mobile menu</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

    <% if @menus %>
        <% @menus = Menu.where(:restaurant_id => current_user.activeRestaurant_id) %>
        <% @menus.each do |menu| %>
        <tr>
            <td><%= menu.title %></td>
            <td><%= menu.description %></td>
            <td><%= menu.category %></td>
            <!-- % t = Menu.new(:price=>10, :currency => "SGD") % -->
            <!-- % t = Money.new(menu.price, :currency => "SGD") % -->
            <% @localrestaurant = Restaurant.find(@current_user.activeRestaurant_id) %>
            <% Money.default_currency = Money::Currency.new(@localrestaurant.currency_id) %>
            <!-- % Money.default_currency = Money::Currency.new("SGD") % -->
            <td><%= humanized_money_with_symbol menu.price %></td>
            <td><%= menu.image_id %></td>
            <td><%= menu.happy_hour_from %></td>
            <td><%= menu.happy_hour_to %></td>
            <td><%= menu.happy_hour_price %></td>
            <td><%= menu.restaurant_id %></td>
            <td><%= menu.display_on_mobile_menu %></td>
            <td><%= link_to 'Show', menu %></td>
            <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
            <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
<% end %>

</table>

<br />

<%= link_to 'New Menu', new_menu_path %>
