<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @menu.title %>
</p>

<p>
  <b>Description:</b>
  <%= @menu.description %>
</p>

<p>
  <b>Category:</b>
  <%= @menu.category %>
</p>

<p>
  <b>Price:</b>
  <%= currency_symbol %><%= @menu.price %>
</p>

<p>
  <!-- b>Image:</b -->
  <!-- %= @menu.image_id % -->
</p>

  <!-- %= menu_url =  url_for :controller => 'menus', :action => 'save_image', :trailing_slash => true % -->

  <!-- %= cl_form_tag menu_url,
    form: { class: 'cloudinary' },
    format: 'jpg',
    transformation: { size: '300x300', crop: 'fit' } do % -->


    <!-- %= file_field_tag :file % -->
    <!-- %= submit_tag "Upload" % -->
  <!-- % end % -->

<p>
  <b>Happy hour from:</b>
  <%= @menu.happy_hour_from %>
</p>

<p>
  <b>Happy hour to:</b>
  <%= @menu.happy_hour_to %>
</p>

<p>
  <b>Happy hour price:</b>
  <%= @menu.happy_hour_price %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @menu.restaurant_id %>
</p>

<p>
  <b>Display on mobile menu:</b>
  <%= @menu.display_on_mobile_menu %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
