<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :restaurant_id %>
    <%= f.input :table_id %>
    <%= f.input :status %>
    <%= f.input :create_order_timestamp %>
    <%= f.input :produce_order_timestamp %>
    <%= f.input :close_order_timestamp %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
