
<%= link_to 'New Order (will only be visible to admin)', new_order_path %>
<meta http-equiv="refresh" content="10" />
<div class="order-page">
   
    <div id="top-info" class="row">
        <div class="span3">
            <% if @user.restaurants.any? %>
                <% if Restaurant.exists?(@user.activeRestaurant_id) %>
                    <% restaurant = Restaurant.find(@user.activeRestaurant_id) %>
                    <h1 id="Restaurant-status"><%= restaurant.name %></h1>
                <% else %>
                    <h1 id="Restaurant-status">You must select a restaurant</h1>
                <% end %>
            <% else %>
                <h1 id="Restaurant-status">You must select a restaurant</h1>
            <% end %>
        </div>
        <div class="span4 offset4">
                <div id="clockDisplay" class="timeStyle"></div>
        </div>

    </div>
    <div id="icon-panel" class="row">
        <div id="Wait-icon" class="span1 offset6"><p id="Wait-icon">W</p></div>
        
        <div id="Process-icon" class="span1"><p id="Process-icon">P</p></div>
        
        <div id="Ready-icon" class="span1"><p id="Ready-icon">R</p></div>
        
        <div id="Close-icon" class="span1"><p id="Close-icon">C</p></div>
    </div>
    
<div id="order-list">
        <!-- We only want to display for the active restaurant  (the code should be moved to the controller) -->
        <% @myorders = Order.where(:restaurant_id => current_user.activeRestaurant_id).order("status ASC, create_order_timestamp ASC") %>
        <% @myorders.each do |order| %> 
          <% tablenumber = Table.find(order.table_id).tablenumber %>
    
          
            <!-- td><%= order.restaurant_id %></td -->
            <div class="row" id="order-row">
                <%= link_to action_order_path(order), :method => :put do%>
                <span>
                    <% if order.status == "2" %>
                        <div id="Wait-icon" class="span1"><p id="Wait-icon">W</p></div>
                    <% elsif order.status == "1" %>
                        <div id="Process-icon" class="span1"><p id="Process-icon">P</p></div>
                    <% elsif order.status == "3" %>
                        <div id="Ready-icon" class="span1"><p id="Ready-icon">R</p></div>
                    <% elsif order.status == "4" %>
                        <div id="Close-icon" class="span1"><p id="Close-icon">C</p></div>
                    <% end %>
                
                    <div class="span3">
                        <h2 class="item-title">
                            To Do
                        </h2>
                        <h2 class="item-text-title">
                            <%= order.status_text %>
                        </h2>
                    </div>
                    <div class="span2">
                        <h2 class="tablenumber-title">
                            Table number
                        </h2>
                        <h1 class="tablenumber-text">
                             <%= tablenumber %>
                         </h1>
                    </div>
                    
                    <div class="span3">
                        <p>
                            Ordered at 
                            <% tz = TZInfo::Timezone.get(@user.time_zone) %>
                            <% if order.create_order_timestamp %>
                                <% local = tz.utc_to_local(Time.at(order.create_order_timestamp.to_i)) %>
                                <%= local.strftime("%I:%M:%S%p") %>
                             <% end %>
                        </P>

                        <ul class="order-time-list">
                          <p>Device source is :<%= order.source %></p>   
                            
                        </ul>
                    </div> <!-- order-time -->

                    <div class="action-buttons">
                            <!-- %= link_to 'Show', order % -->
                            <!-- %= link_to 'Edit', edit_order_path(order) % -->
                            <!-- %= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } % -->
                    </div>
                </span>
                <% end %>
            </div> <!-- row-->   
            <div class="divspacer"></div>
             
            <% end %>
</div> <!-- order-list -->
</div> <!-- order-page -->
<script type="text/javascript" language="javascript">
    function renderTime() {
        var currentTime = new Date();
        var diem = "AM";
        var h = currentTime.getHours();
        var m = currentTime.getMinutes();
        var s = currentTime.getSeconds();
        
        if (h == 0) {
            h == 12;
        } else if (h > 12) {
            h = h - 12;
            diem = "PM";
        }
        if (h < 10){
            h ="0" + h;
        }
        if (m < 10){
            m ="0" + m;
        }
        if (s < 10){
            s ="0" + s;
        }

        var myClock = document.getElementById('clockDisplay');
         //firefox
        myClock.textContent = h + ":" + m + ":" + s + " " + diem;
        // IE
        myClock.innerText = h + ":" + m + ":" + s + " " + diem;
        

        setTimeout('renderTime()', 1000);
    }
    renderTime();
</script>


