<div id="mobiledevice">
<input type="hidden" id="geofence_radius" name="geofence_radius" value=<%=  @restaurant.geofence_radius %> >
<h1 class="mobile_device"><%= @restaurant.name %>
</h1>
<p>Table number: <%= @table.tablenumber %>
</p>


<div id = "clockDisplay"></div>
<!-- p>  	
	Tableid: <%= @table.id %>
</p -->
<p><%= params[:source] %> </p>
<% if @restaurant.currency_id != "THB" 
     @button_string = "Call Waiter"
     @menu_string = "Menu"
    else
     @button_string = "เรียกบริกร" 
     @menu_string = "เมน"
   end %>

<%= form_for(@order, :url => url_for(:controller => "orders", :action => "call_waiter" ) ,:html => {:multipart => true} ) do |f| %>    <!-- , :remote => true  -->                   
	<%= f.hidden_field :table_id, :value => @table.id %>
	<%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
    <%= f.hidden_field :status_text, :value => "Call waiter" %>
    <%= f.hidden_field :status, :value => "CW" %>  <!-- When call waiter is activated the status 
    													send is CW. When its an Order its O.
    													On the server the status will be set to W when its received. -->
    <%= f.hidden_field :create_order_timestamp, :value => Time.now.utc.iso8601()  %>
    <%= f.hidden_field :source, :value => params[:source]  %>
    <%= f.hidden_field :lat, :value => params[:lat] %>
    <%= f.hidden_field :lon, :value => params[:lon] %>
    <div id ="data"></div><!-- this should be removed due as it was used to hold debug info about location -->

	<%= f.submit @button_string, :id => "css3dbutton", :disable_with => 'Saving...' %>
<% end %>

<!-- Add in the menu here -->
<% if @restaurant.display_menu_on_mobile == true %>
<div><pre id="menu"> <!-- style="background-color: black;" -->
  <%= @restaurant.restaurant_message %>
  </pre>
</div>

<center>
<div id="menublok">
  
  <h1 id="menuhead"><%= @menu_string %></h1> 
  <table id="menulist">
  <% @menus = Menu.where(:restaurant_id => @restaurant.id) %>
        <% @menus.each do |menu| %>
          <tr> <td id="menutitle"><%= menu.title %></td>
              <% Money.default_currency = Money::Currency.new(@restaurant.currency_id) %>
               <td id="price"><%= humanized_money_with_symbol menu.price %></td>
          </tr>
          <tr>
            <td id="description" colspan="2"><em><%= menu.description %></em></td>
          </tr>
          <tr>
            <td id="description" colspan="2"><em><p></p></em></td>
          </tr>
        <% end %>
  </table>


  <% end %>
  </div>
</center>

</div> <!-- mobiledevice -->


<script>

var myPosition = new Array();

$(document).ready(function() {

     navigator.geolocation.getCurrentPosition(
             onSuccess,
             onError, {
                 enableHighAccuracy: true,
                 timeout: 20000,
                 maximumAge: 120000
             }
     );
   function onSuccess(position) {
       myPosition[0] = position.coords.latitude;
       myPosition[1] = position.coords.longitude;

       var data = '';
   
  data += 'latitude: ' + position.coords.latitude + '<br/>';
  data += 'longitude: ' + position.coords.longitude + '<br/>';
  // data += 'altitude: ' + position.coords.altitude + '<br/>';
  // data += 'accuracy: ' + position.coords.accuracy + '<br/>';
  // data += 'altitudeAccuracy: ' + position.coords.altitudeAccuracy + '<br/>';
  // data += 'heading: ' + position.coords.heading + '<br/>';
  // data += 'speed: ' + position.coords.speed + '<br/>';
  //document.getElementById('order_lat').value = position.coords.latitude;
  //document.getElementById('order_lon').value = position.coords.longitude;
  //document.getElementById('data').innerHTML = data;
  //loadMap(position.coords.latitude, position.coords.longitude);
  testGeofence( position.coords.latitude, position.coords.longitude, <%= @restaurant.lat %>, <%= @restaurant.lon %>, <%= @restaurant.geofence_radius %> );
   }

    function onError(err) {
       var message;

       switch (err.code) {
       case 0:
         message = 'Unknown error: ' + err.message;
         break;
       case 1:
         message = 'You denied permission to retrieve a position.';
         break;
       case 2:
         message = 'The browser was unable to determine a position: ' + error.message;
         break;
       case 3:
         message = 'The browser timed out before retrieving the position.';
         break;
       }
    }






});

function getDistance(lat1, lon1, lat2, lon2) {
    //Radius of the earth in:  1.609344 miles,  6371 km  | var R = (6371 / 1.609344);
    var R = 6371; // Radius of earth in Kilometers x 1000 to get meters
    var dLat = toRad(lat2-lat1);
    var dLon = toRad(lon2-lon1); 
    var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
            Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) * 
            Math.sin(dLon/2) * Math.sin(dLon/2); 
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
    var d = (R*1000) * c;
    return d;
}

function toRad(Value) {
    /** Converts numeric degrees to radians */
    return Value * Math.PI / 180;
}

function testGeofence($latitude1, $longitude1, $latitude2, $longitude2, $geofence_radius )
{
  $distance = getDistance( $latitude1, $longitude1, $latitude2, $longitude2);
  if( $distance < ($geofence_radius) ){ // in meters so geofence is in meters
      document.getElementById('css3dbutton').value= <%= @button_string %>;
  } else {
     document.getElementById('css3dbutton').value="Order not allowed";
     document.getElementById('css3dbutton').style.display = "none";
  }
}
</script>
