<p id="notice"><%= notice %></p>

<p>
  <b>Restaurant:</b>
  <%= @order.restaurant_id %>
</p>

<p>
  <b>Table:</b>
  <%= @order.table_id %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Create order timestamp:</b>
  <%= @order.create_order_timestamp %>
</p>

<p>
  <b>Produce order timestamp:</b>
  <%= @order.produce_order_timestamp %>
</p>

<p>
  <b>Close order timestamp:</b>
  <%= @order.close_order_timestamp %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
