<%= simple_form_for(@table) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :restaurant_id, :value => current_user.activeRestaurant_id %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>
        <ul>
          <% @table.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :tablenumber %>
    <%= f.input :tablename %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
