

<h1>Listing tables</h1>

  <table>
   <tr>
     
     <th>Tablename</th>
     <th>Tablenumber</th>
     <th></th>
     <th></th>
     <th></th>
    </tr>
    <% if @tables %>
      <% @mytables = Table.where(:restaurant_id => current_user.activeRestaurant_id) %>
      <% @mytables.each do |table| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
         <td class="list_description"><%= table.tablename %></td>
         <td><%= table.tablenumber %></td>
         <td> 
            <!-- %= qr_code (10, request.url) % -->
            <%  @url = url_for :controller => 'orders', :action => 'show_table_for_order', :table_id => table.id  %>
            <%= @final_URL = "#{request.scheme}://#{request.host_with_port}" + @url %>
            <%= image_tag "https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=#{@final_URL}&choe=UTF-8" %>
            <%  @nfc_url = url_for :controller => 'orders', :action => 'show_table_for_order', :table_id => table.id, :source => :nfc  %>
            <%= @final_NFC_URL = "#{request.scheme}://#{request.host_with_port}" + @nfc_url %>
         </td>
         <td><%= link_to 'Show', table %></td>
         <td><%= link_to 'Edit', edit_table_path(table) %></td>
         <td><%= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
      <% end %>
    <% end %>
  </table>

<br />

<%= link_to 'New Table', new_table_path %>