<p id="notice"><%= notice %></p>

<p>
  <b>Tablenumber:</b>
  <%= @table.tablenumber %>
</p>

<p>
  <b>Tablename:</b>
  <%= @table.tablename %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @table.restaurant_id %>
</p>


<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
