
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :country %>
    <%= f.input :lon %>
    <%= f.input :lat %>
    <%= f.input :geofence_radius %>
    <%= f.input :phone %>
    <%= f.input :restaurant_size %>
    <%= f.select(:currency_id, @currencies) %>
    <!-- %= f.input :currency_id % -->
    <%= f.input :restaurant_message %>
    <%= f.input :display_menu_on_mobile %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
