<h1>Editing restaurant</h1>
<style type="text/css">
        #map_canvas {height:450px;width:300px}
</style>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAXZZSH82tHV6fVvEu94ZSQySXwfy8-yoM&sensor=false">
</script>


<script type="text/javascript">
  var map;
  var markersArray = [];
  var marker;
  var cityCircle;
  var circleON;

  var latlng = new google.maps.LatLng(<%= @restaurant.lat %>, <%= @restaurant.lon %>);

  var sunCircle = {
        strokeColor: "#c3fc49",
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: "#c3fc49",
        fillOpacity: 0.35,
        map: map,
        center: latlng,
        radius: 100 // in meters
    };

function setRadius() {
  r = document.getElementById("restaurant_geofence_radius").value;
  sunCircle.setRadius(r);
  document.getElementById("test").value = r;
}

function toggleCircle(){
  if (circleON){
    circleON = false;
    cityCircle.setMap(null);
  } else {
    circleON = true;
    sunCircle.radius = parseFloat(document.getElementById("restaurant_geofence_radius").value);
    cityCircle = new google.maps.Circle(sunCircle);   
    cityCircle.setMap(map);
    cityCircle.bindTo('center', marker, 'position');
  }
}

function initialize() {
    var mapOptions = {
        center: latlng,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var el=document.getElementById("map_canvas");
    circleON = true;
    map = new google.maps.Map(el, mapOptions);

    //var marker = new google.maps.Marker({
    //    map: map,
    placeMarker(latlng);
    //});
    google.maps.event.addListener(marker, 'drag', function(event){
        document.getElementById("restaurant_lat").value = event.latLng.lat();
        document.getElementById("restaurant_lon").value = event.latLng.lng();
    });
    cityCircle = new google.maps.Circle(sunCircle);   
    sunCircle.radius = parseFloat(<%= @restaurant.geofence_radius %>);
    cityCircle.setMap(map);
    cityCircle.bindTo('center', marker, 'position');   
}

function placeMarker(location) {
            // first remove all markers if there are any
            deleteOverlays();

            marker = new google.maps.Marker({
                position: location, 
                draggable: true,
                map: map
            });

            // add marker in markers array
            markersArray.push(marker);

        }

        // Deletes all markers in the array by removing references to them
        function deleteOverlays() {
            if (markersArray) {
                for (i in markersArray) {
                    markersArray[i].setMap(null);
                }
              markersArray.length = 0;
            }
        }


window.onload = google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <p>
<%= button_tag "View on map",:id => "map_button", :onCLick =>"initialize()" %>
<%= button_tag "Toggle geofence",:id => "geo_button", :onCLick =>"toggleCircle()" %>



<div id="map_canvas" style="width:450px;height:300px;"></div>
</p>
<%= render 'form_update' %>

<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>
