<h1>Listing restaurants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Street</th>
    <th>City</th>
    
    <th>Phone</th>
   
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @restaurants = Restaurant.where(:user_id => current_user.id) %>
<% @restaurants.each do |restaurant| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description"><%= restaurant.name %></td>
    <td><%= restaurant.street %></td>
    <td><%= restaurant.city %></td>
   
    <td><%= restaurant.phone %></td>
    
    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>
