

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Street:</b>
  <%= @restaurant.street %>
</p>

<p>
  <b>City:</b>
  <%= @restaurant.city %>
</p>

<p>
  <b>State:</b>
  <%= @restaurant.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @restaurant.zip %>
</p>

<p>
  <b>Country:</b>
  <%= @restaurant.country %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>Restaurant size:</b>
  <%= @restaurant.restaurant_size %>
</p>

<p>
  <b>Currency:</b>
  <%= @restaurant.currency_id %>
</p>

<p>
  <b>Restaurant Message:</b>
  <%= @restaurant.restaurant_message %>
</p>

<p>
  <b>Display on mobile:</b>
  <%= @restaurant.display_menu_on_mobile %>
</p>

<p>
  <b>User:</b>
  <%= @restaurant.user_id %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>


