// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.content{
	background: rgb(186, 186, 191);
}

.order-page {
  	width: 100%;
  	height: 100%;
  	//background: rgba(186, 186, 191, 0.6);
  	background: rgb(186, 186, 191);
}

.divspacer{
	margin-top: 5px; 
}

.divverticalspacer{
	margin-right: 0px;
}

h1#Restaurant-status{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
  	font-family: "Verdana", Gadget, sans-serif;
	font-size: 28px;
	color: rgb(242,242,242);
}

div#top-info{
	margin-top: 10px;
  	margin-right: 0pt;
  	margin-bottom: 10px;
  	margin-left: 0pt;
  	padding: 5;
  	background: rgb(186, 186, 191);
}

div#order-list{
	display: box;
  	width: 100%;
  	height: 100%;
  	background: rgb(186, 186, 191);
  	float: left;
}

div#icon-panel{
	margin-top: 20px;
	margin-bottom: 30px;
	position: relative;
	left: 110px;
}

div#Wait-icon{
	position: relative;
	left: -33px;
	top: -4px;

	width:80px;
	height:80px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background:rgb(255,0,0);
	border:4px solid rgb(127,127,127);
	
}

p#Wait-icon{
	position: relative;
	left: 15px;
	top: 30px;
	font-weight: bold;
  	font-family: "Verdana", Gadget, sans-serif;
	font-size: 54px;
	color: rgb(192,80,77);
}

div#Process-icon{
	position: relative;
	left: -33px;
	top: -4px;

	width:80px;
	height:80px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background:rgb(255,255,0);
	border:4px solid rgb(127,127,127);
}

p#Process-icon{
	position: relative;
	left: 20px;
	top: 30px;
	font-weight: bold;
  	font-family: "Verdana", Gadget, sans-serif;
	font-size: 54px;
	color: rgb(255,192,0);
}

div#Ready-icon{
	position: relative;
	left: -33px;
	top: -4px;

	width:80px;
	height:80px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background:rgb(146, 208,80);
	border:4px solid rgb(127,127,127);

}

p#Ready-icon{
	position: relative;
	left: 20px;
	top: 30px;
	font-weight: bold;
  	font-family: "Verdana", Gadget, sans-serif;
	font-size: 54px;
	color: rgb(119,147,60);
}

div#Close-icon{
	position: relative;
	left: -33px;
	top: -4px;

	width:80px;
	height:80px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background:rgb(166,166,166);
	border:4px solid rgb(127,127,127);
}

p#Close-icon{
	position: relative;
	left: 20px;
	top: 30px;
	font-weight: bold;
  	font-family: "Verdana", Gadget, sans-serif;
	font-size: 54px;
	color: rgb(191,191,191);
}

div#order-row{
	width:99%;
	height:80px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background:rgb(242,242,242);
	border:4px solid rgb(127,127,127);
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

h2{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

h2.item-title{
	font-weight: normal;
  	font-family: "Verdana", Gadget, sans-serif;
	font-size: 12px;
}

h2.item-text-title{
	font-weight: bold;
  	font-family: "Verdana", Gadget, sans-serif;
	font-size: 16px;
}



.timeStyle{
	padding: 6px;
	color: rgb(242,242,242);
	font-family: "Verdana", Gadget, sans-serif;
	font-size: 32px;
		
	letter-spacing: 2px;
	display: inline;
}
