// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#dashboard {
	text-align: center;	
}

h1#dashboard {
	font-size: 25px;
}

p#dashboard {
	font-size: 13px;
}

ul#dashboard {
	display: block;
	clear: both;
	float: left;
	list-style-type: none;
}

li#dashboard {
	line-height: 18px;
	float: left;
	width: 150px;
	padding: 10px;	
	list-style-type: none;
}

a#dashboard:hover
{ 
	//background-color:yellow;
}

.btn-custom {
  background-color: hsl(201, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
  background-image: -moz-linear-gradient(top, #00a5ff, #006399);
  background-image: -ms-linear-gradient(top, #00a5ff, #006399);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
  background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
  background-image: -o-linear-gradient(top, #00a5ff, #006399);
  background-image: linear-gradient(#00a5ff, #006399);
  border-color: #006399 #006399 hsl(201, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  width: 100px;
  //height: 50px;
  padding:5px;
  text-align: center;
}