<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <%= link_to('Dashboard', dashboard_path)  %> 
    </li>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
    <li>
      <%= link_to 'Statistics', statistics_path %>
    </li>
    <li>
      <%= link_to 'log and issues','https://bitbucket.org/motethansen/tabletab/issues',{:target => "_new"} %>
    </li>
</ul>