<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tabletab" %></title>
    <meta name="description" content="mobile page">
    <meta name="author" content="Tabletab (TM)">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= cloudinary_js_config %> 
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <!-- START_HIGHLIGHT -->
  <body class="mobile_device">
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>